# Database (Vercel Postgres)
DATABASE_URL="postgres://..."
DIRECT_DATABASE_URL="postgres://..."

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-in-production-use-openssl-rand-base64-32"

# App
NEXT_PUBLIC_APP_NAME="會眾管理系統"
